.App {
  height: 100%;
}

.movie-list {
  height: 50%;

  &__date {
    height: 40px;
  }

  &__date-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }
}

.button {
  width: 200px;
  height: 20px;
}
