@import ""../../variables.scss";

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: $header-height;

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }

  &__img {
    margin: 0 auto;
    width: 200px;
  }

  &__description {
    width: 250px;
    margin: 30px auto 0;
    text-align: center;
  }
}
